// Loading style
// body {
//   background: blue;
// }
.loading:after {
  content: ".";
  animation: dots 1s steps(5, end) infinite;
}

.max-h-12 {
  max-height: 3rem;
  // @media (max-width: "768px") {
  //   max-height: 2.5rem;
  // }
}

.text-primary {
  color: #f0bd38;
}

.welcome-banner {
  @media (max-width: 768px) {
    &:before {
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      z-index: 1;
    }
  }
}

.unset {
  position: unset !important;
}

.slick-slider {
  .slick-track,
  .slick-list {
    display: flex;
    align-items: stretch;
    .slick-slide {
      outline: none;
      & > div {
        height: 100%;
      }
    }
  }
}

.line-dots {
  display: flex !important;
  position: absolute;
  z-index: 10;
  right: 1rem;
  top: 1rem;
  // align-items: center;
  li {
    .text-sm {
      opacity: 0;
      text-align: center;
    }
    &:first-child,
    &:last-child {
      .text-sm {
        opacity: 1;
      }
    }
    .dots {
      height: 3px;
      padding-left: 1rem;
      padding-right: 1rem;
      background: #f0bd38;
      margin-top: 10px;
    }
    &.slick-active {
      .dots {
        height: 15px;
        margin-top: 5px;
      }
    }
  }
  &.property {
    // 982A7D
    right: auto;
    top: 0rem;
    left: 50%;
    margin: 0;
    transform: translate(-50%, 0);
    // margin-top: -5px;
    li {
      .dots {
        background: #982a7d;
      }
    }
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &-right {
    right: 0;
  }
  &-left {
    left: 0;
    transform: translateY(-50%) rotate(180deg);
  }
}

.property-slider {
  .arrow {
    &-left {
      transform: translateY(-50%) rotate(0deg);
    }
  }

  p.active {
    border-bottom: 1px solid #000;
  }
}

.project-slider {
  .slick-dots {
    bottom: 0;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    li {
      margin: 0;
    }
  }
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #000;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #000, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 #000, 0.5em 0 0 #000;
  }
}
